<!DOCTYPE html>
<html>
<head>
   {% load static %}
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Company Name{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'basicapp/css/bootstrap.min.css'%}">
	<script src="https://js.stripe.com/v3/"></script>

  <link href="/static/basicapp/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
  <script src="/static/basicapp/js/wow.min.js"></script>
  <link href="static/basicapp/css/animate.css" rel='stylesheet' type='text-center/css' />

  </head>
  <body>

    

	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
   		 <div class="container-fluid">
   		 	 <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link text-light" href="{% url 'index' %}"><font size="3">&nbsp; <strong>Home</strong> </font></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url  'mmenu' %}"><font size="3">&nbsp;<strong>Menu </strong></font></a>
            </li>
             <li class="nav-item">
                <a class="nav-link text-light" href="{% url  'orderlist' %}"><font size="3">&nbsp;<strong>Orders</strong></font></a>
            </li>
            
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img  src="/static/basicapp/images/logo2.png" style="height: 90px;width: 170px;" alt="Home" class="rounded-circle img-responsive">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-light " href="{% url 'logout' %}"><font size="3"> &nbsp;<span aria-hidden="true"></span><strong>LogOut </strong> </font></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="{%url 'rprofile' %}"><font size="3"> &nbsp;<span aria-hidden="true"></span><strong>Profile</strong></font></a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link text-light " href="{% url 'rlogin' %}"><font size="3">&nbsp;<span aria-hidden="true"></span> <strong>LogIn</strong></font></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="{% url 'rregister' %}"><font size="3">&nbsp;<span aria-hidden="true"></span> <strong>Join Us</strong></font></a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>

{% block body %}
{% endblock %}
<br>
<br>
<br>
<br>

    
  </div>
</div>

<script type="text/javascript" src="{%static 'basicapp/js/jquery.min.js'%}">
	</script>
	<script type="text/javascript" src="{%static 'basicapp/js/bootstrap.min.js'%}"></script>
<script>
	new WOW().init();
</script>
<script src="/static/basicapp/js/simpleCart.min.js"> </script>
<script type="text/javascript" src="/static/basicapp/js/move-top.js"></script>
<script type="text/javascript" src="/static/basicapp/js/easing.js"></script>
</body>
</html>