{% extends 'basicapp/base.html'%}
{% block title %}Update restaurant profile {% endblock %}

{% block body %}
<div class="container">
	<h2 class="text-center">{{title}}</h2>
</div>


	    <div class="container">
	    <div class="col-md-4 col-md-offset-2">
		<form method="post" class="form-horizontal" enctype="multipart/form-data">
			<table class="table table-hover table-bordered">
				{% csrf_token %}
				<thead>
					<th>Item Name</th>
					<th>Category</th>
					<th></th>
				</thead>
				<tr>
					<td> {{ form.fname }}</td>
					<td> {{ form.category }}</td>
					
					<td><div class="form-group">
          	<div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg">Save</button>
          	 </div>
   		</div></td>
				</tr>
				</thead>
			
  		
		</form>
	</div>
</div>
 <br>


{% endblock%}